html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: bisque;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-item {
    font-weight: bold;
}

#main-container {
    background-color: lightgray;
}

#content-container {
    background-color: burlywood;
}

.form-item {
    padding: 0.5em;
}