html, body {
    height: 100%;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.flex-item {
    padding: 5px;
    margin: 10px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    background-color: aqua;
}

.form-item {
    padding: 0.5em;
    text-align: left;
}